src/pug/views/profile-edit.pug
extends ../includes/layout
include ../includes/mixins

block variables
  - var authorized = true

block wrapper
  .page-content
    .container
      .row
        .col-lg-3.col-md-4
          .link-to
            a(href="/profile-page.html")
              +renderSvg('arrow-left', '0 0 7 10')
              span Профиль
          h1.page-title Настройки

        .col-lg-9.col-md-8
          form.profile-edit-form
            .edit-form__header
              .form__item
                input(type="text" placeholder="Имя").lot-user__firstname.required-item
              .form__item
                input(type="text" placeholder="Фамилия").lot-user__lastname.required-item
              .form__item
                select.choice-select.required-item
                  option(value="0") Бишкек
                  option(value="1") Баткен
                  option(value="2") Ыссык-Кол
                  option(value="3") Талас
                  option(value="4") Ош
            .form__item
              .checkbox-item
                input(type="checkbox" id="sms-notif-lot" hidden)
                label(for="sms-notif-lot") Оповещать об изменении цен по SMS
            .form__item
              .checkbox-item
                input(type="checkbox" id="hide-name-lot" hidden)
                label(for="hide-name-lot") Скрыть мое имя и фамилию на торгах

            .form__item
              .suggest-btn
                button(type="submit" disabled) Сохранить

dist/profile-edit.html
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="keywords">
  <meta name="description" content="description">
  <title>Beeline » profile-edit</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../../img/favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon.png">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="container">
        <div class="header__head">
          <div class="logo"><a href="/"><img src="../img/logo-icon.svg" alt="logo-icon.svg" id="logo-icon"><img src="../img/logo-txt.svg" alt="logo-txt.svg" id="logo-txt"></a></div>
          <div class="header__right">
            <div class="language__links"><a class="language__txt active" href="#">Русский</a><a class="language__txt" href="#">Кыргызча</a></div>
            <div class="user-profile__links">
              <div class="user-profile__tgl" id="profile-tgl">
                <div class="user-profile__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18">
                    <use xlink:href="../../img/person-white.svg#person-white"></use>
                  </svg>
                </div>
                <div class="user-profile__txt"><span>Евгений</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 7">
                    <use xlink:href="../../img/arrow-down.svg#arrow-down"></use>
                  </svg>
                </div>
              </div>
              <div class="user-profile__dropdown authorized" id="profile-dropdown">
                <ul>
                  <li><a href="/profile-page.html">Показать профиль</a></li>
                  <li><a href="/profile-edit.html">Настройки</a></li>
                  <li><a href="/">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="link-to"><a href="/profile-page.html">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 10">
                  <use xlink:href="../../img/arrow-left.svg#arrow-left"></use>
                </svg><span>Профиль</span></a></div>
            <h1 class="page-title">Настройки</h1>
          </div>
          <div class="col-lg-9 col-md-8">
            <form class="profile-edit-form">
              <div class="edit-form__header">
                <div class="form__item">
                  <input class="lot-user__firstname required-item" type="text" placeholder="Имя">
                </div>
                <div class="form__item">
                  <input class="lot-user__lastname required-item" type="text" placeholder="Фамилия">
                </div>
                <div class="form__item">
                  <select class="choice-select required-item">
                    <option value="0">Бишкек</option>
                    <option value="1">Баткен</option>
                    <option value="2">Ыссык-Кол</option>
                    <option value="3">Талас</option>
                    <option value="4">Ош</option>
                  </select>
                </div>
              </div>
              <div class="form__item">
                <div class="checkbox-item">
                  <input type="checkbox" id="sms-notif-lot" hidden>
                  <label for="sms-notif-lot">Оповещать об изменении цен по SMS</label>
                </div>
              </div>
              <div class="form__item">
                <div class="checkbox-item">
                  <input type="checkbox" id="hide-name-lot" hidden>
                  <label for="hide-name-lot">Скрыть мое имя и фамилию на торгах</label>
                </div>
              </div>
              <div class="form__item">
                <div class="suggest-btn">
                  <button type="submit" disabled>Сохранить</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container"></div>
    </footer>
    <div class="notification__wrap" id="notification-wrap">
      <div class="notification__txt">Test</div>
    </div>
  </div>
  <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
  <script src="js/common.js"></script>
  <script>
    // Test
    const lotsList = document.getElementsByClassName("lot-item");
    for (let i = 0; i < lotsList.length; i++) {
      const submitBtn = lotsList[i]
        .getElementsByTagName("FORM")[0]
        .getElementsByTagName("BUTTON")[0];

      submitBtn.onclick = function(e) {
        e.preventDefault();
        document.notification("Вы повысили ставку до 3100 с"); // Функция уводемления, принимает текст уводемления. Доступно из всех страниц
      };
    }
  </script>
</body>

</html>
