src/pug/views/terms.pug
extends ../includes/layout
include ../includes/mixins

block wrapper
  .page-content
    .container
      .row
        .col-lg-3.col-md-4
          .link-to
            a(href="/")
              +renderSvg('arrow-left', '0 0 7 10')
              span Главная
          h1.page-title Правила проведения аукциона

        .col-lg-9.col-md-8
          .text-content
            p Равным образом постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. С другой стороны начало повседневной работы по формированию позиции играет важную роль в формировании соответствующий условий активизации. Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовки и реализации соответствующий условий активизации.
            p Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности требуют определения и уточнения дальнейших направлений развития. Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки дальнейших направлений развития. Повседневная практика показывает, что реализация намеченных плановых заданий требуют от нас анализа существенных финансовых и административных условий.

            p С другой стороны сложившаяся структура организации в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют от нас анализа направлений прогрессивного развития. С другой стороны укрепление и развитие структуры требуют от нас анализа направлений прогрессивного развития. Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.

            p Таким образом дальнейшее развитие различных форм деятельности требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Товарищи! сложившаяся структура организации позволяет оценить значение соответствующий условий активизации.

dist/terms.html
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="keywords">
  <meta name="description" content="description">
  <title>Beeline » terms</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../../img/favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon.png">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="container">
        <div class="header__head">
          <div class="logo"><a href="/"><img src="../img/logo-icon.svg" alt="logo-icon.svg" id="logo-icon"><img src="../img/logo-txt.svg" alt="logo-txt.svg" id="logo-txt"></a></div>
          <div class="header__right">
            <div class="language__links"><a class="language__txt active" href="#">Русский</a><a class="language__txt" href="#">Кыргызча</a></div>
            <div class="user-profile__links">
              <div class="user-profile__tgl" id="profile-tgl">
                <div class="user-profile__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18">
                    <use xlink:href="../../img/person-white.svg#person-white"></use>
                  </svg>
                </div>
                <div class="user-profile__txt"><span>Войти</span></div>
              </div>
              <div class="user-profile__dropdown" id="profile-dropdown">
                <div class="dropdown-wrap">
                  <div class="dropdown-close" id="dropdown-close">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                      <use xlink:href="../../img/close.svg#close"></use>
                    </svg>
                  </div>
                  <div class="pass-restore" id="pass-restore">
                    <div class="link-to" id="to-auth">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 10">
                        <use xlink:href="../../img/arrow-left.svg#arrow-left"></use>
                      </svg><span>Вход</span>
                    </div>
                    <div class="restore-title">Восстановление</div>
                    <div class="restore-description">Введите номер, через который вы регистрировались и мы отправим вам новый пароль</div>
                    <form>
                      <div class="form__item">
                        <input class="restore__phone phone-field required-item" type="text" placeholder="Номер телефона">
                      </div>
                      <div class="form__item">
                        <button type="submit" disabled>Отправить пароль </button>
                      </div>
                    </form>
                  </div>
                  <div class="auth-reg" id="auth-reg">
                    <div class="tab__header">
                      <div class="tab__tgl active" tab="auth"><span>Вход</span></div>
                      <div class="tab__tgl" tab="reg"><span>Регистрация</span></div>
                    </div>
                    <div class="tab__body">
                      <div class="tab active" id="tab-auth">
                        <form>
                          <div class="form__item">
                            <input class="auth__phone phone-field required-item" type="text" placeholder="Ваш номер телефона">
                          </div>
                          <div class="form__item">
                            <input class="auth__password required-item" type="password" placeholder="Пароль" id="auth-pass">
                            <div class="password-show" id="password-show" show-pass="auth-pass">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 11">
                                <use xlink:href="../../img/eye.svg#eye"></use>
                              </svg>
                            </div>
                          </div>
                          <div class="form__item">
                            <div class="remember-me checkbox-item">
                              <input type="checkbox" hidden id="remember-me">
                              <label for="remember-me">Запомнить меня</label>
                            </div>
                            <div class="pass-restore-tgl" id="pass-restore-tgl"><a href="#">Забыли пароль?</a></div>
                          </div>
                          <div class="form__item">
                            <button type="submit" disabled>Войти </button>
                          </div>
                        </form>
                      </div>
                      <div class="tab" id="tab-reg">
                        <form>
                          <div class="form__item">
                            <input class="reg__firstname required-item" type="text" placeholder="Имя">
                          </div>
                          <div class="form__item">
                            <input class="reg__lastname required-item" type="text" placeholder="Фамилия">
                          </div>
                          <div class="form__item">
                            <select class="choice-select required-item">
                              <option value="0">Бишкек</option>
                              <option value="1">Баткен</option>
                              <option value="2">Ыссык-Кол</option>
                              <option value="3">Талас</option>
                              <option value="4">Ош</option>
                            </select>
                          </div>
                          <div class="form__item">
                            <input class="reg__phone phone-field required-item" type="text" placeholder="Ваш номер телефона">
                          </div>
                          <div class="form__item">
                            <div class="checkbox-item">
                              <input type="checkbox" hidden id="sms-notif">
                              <label for="sms-notif">Оповещать об изменении цен по SMS</label>
                            </div>
                          </div>
                          <div class="form__item">
                            <div class="checkbox-item">
                              <input type="checkbox" hidden id="hide-name">
                              <label for="hide-name">Скрыть мое имя и фамилию на торгах</label>
                            </div>
                          </div>
                          <div class="form__item">
                            <div class="checkbox-item">
                              <input class="required-item" type="checkbox" hidden id="agreemant">
                              <label for="agreemant">Я согласен с <a href="/terms.html">Правилами проведения аукциона</a></label>
                            </div>
                          </div>
                          <div class="form__item">
                            <button type="submit" disabled>Зарегистрироваться</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="link-to"><a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 10">
                  <use xlink:href="../../img/arrow-left.svg#arrow-left"></use>
                </svg><span>Главная</span></a></div>
            <h1 class="page-title">Правила проведения аукциона</h1>
          </div>
          <div class="col-lg-9 col-md-8">
            <div class="text-content">
              <p>Равным образом постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. С другой стороны начало повседневной работы по формированию позиции играет важную роль в формировании соответствующий условий активизации. Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовки и реализации соответствующий условий активизации.</p>
              <p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности требуют определения и уточнения дальнейших направлений развития. Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки дальнейших направлений развития. Повседневная практика показывает, что реализация намеченных плановых заданий требуют от нас анализа существенных финансовых и административных условий.</p>
              <p>С другой стороны сложившаяся структура организации в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют от нас анализа направлений прогрессивного развития. С другой стороны укрепление и развитие структуры требуют от нас анализа направлений прогрессивного развития. Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.</p>
              <p>Таким образом дальнейшее развитие различных форм деятельности требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Товарищи! сложившаяся структура организации позволяет оценить значение соответствующий условий активизации.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container"></div>
    </footer>
    <div class="notification__wrap" id="notification-wrap">
      <div class="notification__txt">Test</div>
    </div>
  </div>
  <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
  <script src="js/common.js"></script>
  <script>
    // Test
    const lotsList = document.getElementsByClassName("lot-item");
    for (let i = 0; i < lotsList.length; i++) {
      const submitBtn = lotsList[i]
        .getElementsByTagName("FORM")[0]
        .getElementsByTagName("BUTTON")[0];

      submitBtn.onclick = function(e) {
        e.preventDefault();
        document.notification("Вы повысили ставку до 3100 с"); // Функция уводемления, принимает текст уводемления. Доступно из всех страниц
      };
    }
  </script>
</body>

</html>
